* {
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #59b7ee;
    color: rgb(248, 246, 246);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 360;
    font-style: normal;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .box {
    width: 500px;
  }
  
  .header {
    height: 50px;
    border-top: 1px solid #1e4049;
    border-bottom: 1px solid #1e4049;
    text-align: center;
    line-height: 50px;
    margin-bottom: 1rem;
  }
  
  .conversor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .grupo {
    width: 250px;
    background-color: #6c757d;
    border-radius: 0.2rem;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
  }
  
  .grupo input {
    height: 2rem;
    width: 100%;
    border-radius: 0.4rem;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    border: none;
  }
  
  input::placeholder {
    text-align: center;
  }
  
  .grupo select {
    width: 100%;
    height: 2rem;
    border-radius: 0.4rem;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
  }
  
  button {
    width: 100%;
    height: 2rem;
    border-radius: 0.2rem;
    border: none;
    background-color: #0f3a34;
    color: white;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .grafico {
    background-color: #fff;
    padding: 1rem;
    margin: 2rem;
    border-radius: 0.4rem;
  }
  
  .grafico h2 {
    color: #212529;
    text-align: center;
  }